<div class="container">
{{> header}}

{{> navigation}}



<!--     <header>
        <h1>{{site.title}}</h1>
        {{#if tag}}
            <p>Posts tagged: {{tag}}</p>
        {{else}}
            {{#if dateStr}}
                <p>Posts dated: {{dateStr}}</p>
            {{else}}
                <p>{{site.description}}</p>
            {{/if}}
        {{/if}}
    </header> -->

    <div class="row">
        <article class="main col-md-8">
            {{> loop}}

            {{> pagination}}
        </article>
        <aside class="sidebar col-md-4">
            {{> sidebar}}
        </aside>
    </div>



{{> footer}}

</div>
{{> js}}