{{> header}}
<div class="container">
    {{#post}}
            <h1>{{title}}</h1>
            <p class="post-meta">
                    {{date format="MMMM Do YYYY"}}
                    by <span>{{author.name}}</span>
                    {{#if tags}} on {{{tags}}}{{/if}}
                </p>
                <hr>
            {{{body}}}
    {{/post}}
</div>
{{> js}}