{{#each pages}}
<a href="{{url}}" class="post">
<span class="row">
<span class="col-md-5">
    <h2 class="title">{{title}}</h2>
</span>

        <span classs="blurb col-md-7">{{{excerpt characters=230}}}...</span>
        </span>
</a>
{{/each}}

{{#each posts}}
<a href="{{url}}" class="post">
<span class="row">
        <span class="col-md-5">
    <h2 class="title">{{title}}</h2>
     {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
</span>

         <span classs="blurb col-md-7">{{{excerpt characters=230}}}...</span>
         </span>
    </a>
{{/each}}