{{#if allDates}}
<h4>Archives</h4>
<ul>
    {{#each allDates}}
    <li>
        <a href="{{dateLink}}">{{dateStr}}</a>
    </li>
    {{/each}}
</ul>

{{/if}}
{{#if allTags}}
<h4>Tags</h4>
<ul>
    {{#each allTags}}
    <li>
        <a href="{{tagLink}}">{{tag}}</a>
    </li>
    {{/each}}
</ul>
{{/if}}
<h4>Elsewhere</h4>
<ul>
    <!-- author loop would be good -->
    {{#if site.authors.nicholas.github}}
    <li><a href="http://github.com/{{site.authors.nicholas.github}}">
        <i class="fa fa-github"></i>
        GitHub
    </a></li>
    {{/if}}
    {{#if site.authors.nicholas.twitter}}
    <li><a href="http://twitter.com/{{site.authors.nicholas.twitter}}">
        <i class="fa fa-twitter"></i>
        Twitter
    </a></li>
    {{/if}}
    {{#if site.authors.nicholas.facebook}}
    <li><a href="http://facebook.com/{{site.authors.nicholas.facebook}}">
        <i class="fa fa-facebook"></i>
        Facebook
    </a></li>
    {{/if}}
    {{#if site.authors.nicholas.instagram}}
    <li><a href="http://instagram.com/{{site.authors.nicholas.instagram}}">
        <i class="fa fa-instagram"></i>
        Instagram
    </a></li>
    {{/if}}
    {{#if site.authors.nicholas.pinterest}}
    <li><a href="http://pinterest.com/{{site.authors.nicholas.pinterest}}">
        <i class="fa fa-pinterest"></i>
        Pinterest
    </a></li>
    {{/if}}
</ul>
